
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}}</title>

  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:url" content="http://bruegel.analog.is"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="{{site.og.image}}"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:description" content="{{site.og.description}}"/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@joinanalog">
  <meta name="twitter:domain" content="analog.is">
  <meta name="twitter:image:src" content="{{site.og.image}}">
  <meta name="twitter:title" content="{{site.title}}">
  <meta name="twitter:description" content="{{site.og.description}}">

  <link href="http://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/leaflet.css" />
  <link rel="stylesheet" href="/css/bruegel.css" />
  <script src="/js/modernizr.custom.js"></script>
  <script src="/js/jquery-1.11.2.min.js"></script>
  <script src="/js/midway.js"></script>
</head>
<body>
  {{ content }}
  {% comment %}
    <!-- Use the CDN if we don't want to use the local copy -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  {% endcomment %}
  <script src="/js/leaflet-0.7.3.js"></script>
  <script src="/js/classie.js"></script>
  <script src="/js/app.js"></script>
  {% include analytics.html %}
</body>
</html>